<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/fragments/headers"/>
<body>

<header>
   <th:block th:include="/fragments/navigation"/>
</header>
<main>
    <div class="container">
        <h2 class="text-center text-dark bg-light rounded-circle mt-5">All companies</h2>
        <hr style="width: 50%"/>
        <div class='row mb-4 d-flex justify-content-around'>
          
                <div th:each="c: ${companies}" class="col-md-4 d-flex flex-column bg-text mb-3 rounded-circle">
                    <h2 th:text="${'Company: ' + c.name}" >Company: {name}</h2>
                    <h4 th:text="${'Town: ' + c.town}">Town: {town}</h4>
                    <h4 th:text="${'descripyion - ' + c.description}">Description: {description - first 5 char} ...</h4>
                    <h4><a class="btn-block" th:href="@{/details/company/{name}(name = ${c.name})}" >Detail info</a></h4>
                </div>
          
        </div>
    </div>
</main>

<th:block th:include="/fragments/Footer"/>
</body>
</html>